//
   Created by SMARTINEZ on 25/10/2018.
footer.bgc--blue.py-5.bgc_grad_footer
  .container
    .row
      .col-12.col-sm-5.cl--white.mb-5
        p
          span.txt_bold Condor Box
          | es una empresa del grupo
          span.txt_bold Imperio Cargo Express,
          |  especialistas en logística y paqueteo desde los Estados Unidos hacia Latinoamérica.
      .col-12.col-sm-3.cl--white.text-center.text-lg-left.mb-5.ml-md-5
        .title
          h5.txt_bold Oficina en MIAMI
        .info
          p 8086 NW 74th Ave. | Miami, FL 33166
          p Ph: 305-887-4232 | Fax: 305-887-4236
      .col-12.col-sm-3.cl--white.text-center.text-lg-left.mb-5
        .title
          h5.txt_bold Oficina en BOGOTÁ
        .info
          p Calle 22D #127-84 Bodega 8
          p Centro Empresarial El Dorado
          p Tel: (1) 489-9113
    .row
      .col
        ul.list--inline.text-center.text-lg-left
          li.nav-item
            a.mx-auto(href='#')
              span.hidden CondorBox
              .logo_box
                span.logo_cobox.logo_cobox--white
          li.nav-item.cl--white.d-none.d-xl-inline.mx-2 |
          li.nav-item
            a.mx-auto.cl--white(href='')
              span.small Terminos y Condiciones
      .col-md-auto
        ul.list--inline.text-center.text-lg-left
          li.nav-item
            a.mx-auto(href='')
              span.icon.icon-social.icon_facebook
          li.nav-item.mx-2
            a.mx-auto(href='')
              span.icon.icon-social.icon_twitter
          li.nav-item
            a.mx-auto(href='')
              span.icon.icon-social.icon_instagram