//
   Created by SMARTINEZ on 25/10/2018.

nav#header.navbar.navbar-expand-lg.mb-4.pt-4.pb-4.top-bar.navbar-static-top.sps.sps--abv.fixed-top(data-aos="fade-down")
  .container-fluid
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarCollapse1' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
        svg#icon-menu(viewbox='0 0 24 13' width='100%' height='100%')
          title menu
          path(d='M.75 1.515h22.498a.75.75 0 0 0 0-1.5H.75a.75.75 0 0 0 0 1.5zM23.248 5.265H8.168a.75.75 0 0 0 0 1.5h15.08a.75.75 0 0 0 0-1.5zM23.248 10.514H4.322a.75.75 0 0 0 0 1.5h18.926a.75.75 0 0 0 0-1.5z')

    a.navbar-brand.mx-auto(href='/7/docs/')
      span.hidden CondorBox
      .logo_box
        span#logo.logo_cobox.logo_cobox--white
    #navbarCollapse1.collapse.navbar-collapse
      ul.navbar-nav.ml-2.txt_bold-.text-center.text-lg-left
        li.nav-item.active
          a.nav-link(href='/7/docs/#how')
            | Cómo Funciona
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/7/docs/#quote') Cotizar Envío
        li.nav-item
          a.nav-link(href='/7/docs/faq.html') FAQs
        li.nav-item
          a.nav-link(href='/7/docs/contact.html') Contacto
    #navbarRaster.mx-auto
      ul.navbar-nav.nav-access.ml-auto.nav-flex-icons
        li.nav-item
          a.btn.btn-link.btn_full--lg(href='/7/docs/rastreo.html')
            span.circle--animation
            | Rastrear Paqueta
        li.nav-item
          a.btn.btn_outline_white.btn-sm.btn_full--lg(href='/7/docs/login.html')
            i.fa
            | Iniciar sesión
        li.nav-item
          a.btn.btn_site--header.btn-sm.btn_full--lg(href='/7/docs/registro.html')
            i.fa
            | Registrarse