extends ./base/layout.pug

block content
    include _header.pug
    .overlay.overlay_contentpush
        button.overlay_close.btn_menu
            span.icon_menu--svg.cl--white
                svg#icon-close(viewbox='0 0 24 24' width='100%' height='100%')
                    title close
                    path(d='M21 4.565L19.435 3 12 10.435 4.565 3 3 4.565 10.435 12 3 19.435 4.565 21 12 13.565 19.435 21 21 19.435 13.565 12z')

            span.cl--white Close
        .navbar_full
            ul.txt_upper
                li.
                    a(href="#") List Item 1
                li
                    a(href="#") List Item 2
    .wrapper
        section.position-relative.slider_overflow
            ul.slider_intro
                li.slider_item.bgc_grad_vertical1.pd_top--x50
                    .row.align-items-center
                        .col-12.col-sm-6.txt_center
                            .icon_smartphone(style="background-image: url('images/slider/img_cell--01.png')")
                        .col-12.col-sm-6.cl--white
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold Ahorrar es simple
                            .intro.mb-5
                                .txt_size--x3 Regístrate gratis y disfruta del mejor <br> casillero virtual de Colombia.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.btn--shadow.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                                    li
                                        a.btn.btn_outline_white.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                li.slider_item.bgc_grad_vertical2.pd_top--x50
                    .row.align-items-center
                        .col-12.col-sm-6.txt_center
                            .icon_smartphone(style="background-image: url('images/slider/img_cell--02.png')")
                        .col-12.col-sm-6.cl--white
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold Black Friday!
                            .intro.mb-5
                                .txt_size--x3
                                    | Abre tu casillero en noviembre, compra en la mejor época del <br>
                                    | año y
                                    strong  participa por una Gift Card de Amazon por $200 USD
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--violeta.btn--shadow.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Ver las mejores ofertas
                li.slider_item.bgc_grad_vertical3.pd_top--x50
                    .row.align-items-center
                        .col-12.col-sm-6.txt_center
                            .icon_smartphone(style="background-image: url('images/slider/img_cell--02.png')")
                        .col-12.col-sm-6.cl--white
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold ¡Tarifa de locura!
                            .intro.mb-5
                                .txt_size--x3
                                    | Envía cualquier celular, tablet o portátil por <br> solo <b>$59 USD</b>, incluye impuestos y seguro.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--mora.btn--shadow.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Saber más
                li.slider_item.bgc_grad_vertical4.pd_top--x50
                    .row.align-items-center
                        .col-12.col-sm-6.txt_center
                            .icon_smartphone(style="background-image: url('images/slider/img_cell--02.png')")
                        .col-12.col-sm-6.cl--white
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold Casillero Corporativo
                            .intro.mb-5
                                .txt_size--x3
                                    | Creamos soluciones ajustadas a las necesidades de las empresas y sus colaboradores.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--green.btn--shadow.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Contáctanos

            .box_slider_nav
                ul.slider-nav.list--inline
                    li.item.txt-center
                        .w-100
                            span uno
                    li.item.txt-center
                        .w-100
                            span dos
                    li.item.txt-center
                        .w-100
                            span tres
                    li.item.txt-center
                        .w-100
                            span cuatro
            .box_social--fixed
                ul.text-center
                    li.nav-item
                        a.mx-auto(href='facebook', target="_blank")
                            span.icon.icon-social.icon_facebook
                    li.nav-item.my-2
                        a.mx-auto(href='twitter', target="_blank")
                            span.icon.icon-social.icon_twitter
                    li.nav-item
                        a.mx-auto(href='instagram', target="_blank")
                            span.icon.icon-social.icon_instagram
        //Condor Box
        section.py-5
            .container
                .row
                    .col-8.mx-auto.txt_center.mg_top--x100
                        .title.mb-4
                            span.icon.icon_condor_box
                        .subtitle.mb-4
                            h3 ¡Sencillo, seguro, rápido y muy económico!
                        .paragraf.mb-4
                            p.txt_size--em2.cl--gray Comprar lo que siempre soñaste jamás fue tan fácil. En Condor Box te brindamos una experiencia personalizada para que disfrutes de las ofertas extraordinarias del comercio electrónico de Estados Unidos. Si no tienes tarjetas de crédito, nosotros compramos por ti.
        section.pd_top--x100.pd_bottom--x100
            .container
                .row.d-flex.align-items-center
                    .col.txt_center
                        img(src="images/consumo/img_celluphone2.png")
                    .col
                        .title.title_line.title_line--gains.mb-4
                            .txt_two.txt_size--em4.cl--darkgray #ConsumoInteligente
                        .paragraf
                            h3 Ahorra hasta el 80% respecto al valor en Colombia de los productos que deseas.
        //Así de Fácil pasos
        section.pd_top--x100.pd_bottom--x100
            .container
                .row
                    .col.txt_center.py-5
                        .title.mb-4
                            .txt_two.txt_size--em5.cl--darkgray Así de fácil
                .row
                    .col.txt_center
                        .title.mb-4
                            span.icon.icon_txt01
                        .subtitle.mb-2
                            h2.txt_bold.txt_size--em2a.cl--gray Regístrate
                        .paragraf
                            p.txt_bold gratis y obtén tu dirección y casillero en los EEUU.
                    .col.txt_center
                        .title.mb-4
                            span.icon.icon_txt02
                        .subtitle.mb-2
                            h2.txt_bold.txt_size--em2a.cl--gray Compra
                        .paragraf
                            p.txt_bold en cualquier tienda online. Si no tienes tarjeta de crédito, nosotros compramos por ti.
                    .col.txt_center
                        .title.mb-4
                            span.icon.icon_txt03
                        .subtitle.mb-2
                            h2.txt_bold.txt_size--em2a.cl--gray Envía
                        .paragraf
                            p.txt_bold tus compras a tu casillero. Cuando lleguen te avisaremos.
                    .col.txt_center
                        .title.mb-4
                            span.icon.icon_txt04
                        .subtitle.mb-2
                            h2.txt_bold.txt_size--em2a.cl--gray Disfruta
                        .paragraf
                            p.txt_bold de tus compras generando la orden de envío a Colombia desde cualquier dispositivo a través de tu cuenta de casillero.

        //Hemos diseñado el mejor
        section.pd_top--x100.pd_bottom--x100
            .container
                .row
                    .col-12.col-md-8.mx-auto.txt_center.mb-5
                        .title.mb-4
                            .txt_two.txt_size--em5.cl--darkgray Hemos diseñado el mejor Casillero Virtual de Colombia
                .row
                    .col-12.col-md-4.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_key
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Gratis
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_unlimited
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Ilimitado
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_safe
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Seguro
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.txt_center.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_fast
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Rápido
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_easy
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Sencillo
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_personalized
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Personalizado
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.mx-auto.box_over
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_economic
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Económico
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost

        //Cotizador
        section.py-5
            .container
                .row
                    .col.txt_center
                        .title.mb-4
                            .txt_semibold.txt_two.txt_size--em4.cl--gray Cotiza tu envío
                        .subtitle.mb-5
                            p.txt_size--em2a.cl--gray y comprueba porque somos el casillero más económico
                .row
                    //insert iframe
                    .w-50.mx-auto.bgc--white.box_shadow.txt_center.pd_box--x20
                        | Iframe
        //CalltoAction
        section.position-relative
            .box_bg--svg.izq
                .triangle_red_izq
                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 915.17 900.6')
                        defs
                            style.
                                .cls-1 {
                                    fill: url(#Degradado_sin_nombre_7);
                                }
                            lineargradient#Degradado_sin_nombre_7(x1='285.13' y1='475.32' x2='559.13' y2='793.32' gradientunits='userSpaceOnUse')
                                stop(offset='0' stop-color='#ff5254')
                                stop(offset='1' stop-color='#ff6d55')
                        title triangle_red_izq
                        g#Capa_2(data-name='Capa 2')
                            g#Contacto_y_Preguntas(data-name='Contacto y Preguntas')
                                polygon#triangle_red_izq.cls-1(points='915.17 450.34 0 900.6 0 0 915.17 450.34 915.17 450.34 915.17 450.34')

            .box_bg--svg.der
                .triangle_blue_der
                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 915.17 900.6')
                        defs
                            style.
                                .cls-2{
                                    fill: url(#linear-gradient);
                                }
                            lineargradient#linear-gradient(x1='-2.88' y1='450.3' x2='926.42' y2='450.3' gradientunits='userSpaceOnUse')
                                stop(offset='0.01' stop-color='#12c7e1')
                                stop(offset='0.6' stop-color='#219cde')
                                stop(offset='1' stop-color='#2a84dd')
                        title triangle_blue_der
                        g#Capa_2(data-name='Capa 2')
                            g#Contacto_y_Preguntas(data-name='Contacto y Preguntas')
                                polygon#triangle_blue_der.cls-2(points='0 450.34 915.17 900.6 915.17 0 0 450.34 0 450.34 0 450.34')

            .container-fluid.box_vector--height
                .row
                    .col-12.col-md-1
                    .col-12.col-md-4.align-self-start.box_pd--v1.cl--white
                        .title.mb-4
                            .txt_two.txt_size--em4 ¿Ustedes son un <br> servicio de compras <br> como Amazon o Ebay?
                        .subtitle.mb-5
                            p.txt_size--em2a.cl--gray Es normal tener dudas. Responde aquí todas las preguntas que tienes.
                        .action.mb-5
                            a.btn.btn_site--white.cl--red.btn-sm.btn_radio.btn_full--lg(href='#')
                                i.fa
                                | Preguntas frecuentes
                    .col-12.col-md-2
                    .col-12.col-md-4.align-self-end.txt_right.box_pd--v2.cl--white
                        .title.mb-4
                            .txt_two.txt_size--em4
                                | Escríbenos
                                br
                                span.txt_bold con confianza
                        .subtitle.mb-5
                            p.txt_size--em2a Te enviaremos toda la información que solicites y te brindaremos la mejor asesoria.
                        .action
                            a.btn.btn_site--white.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                i.fa
                                | Contáctanos
                    .col-12.col-md-1

        //Descubre
        section.py-5
            .container
                .row
                    .col.txt_center.mg_bottom--x40
                        .title.mb-3
                            .txt_two.txt_size--em4.cl--darkgray Descubre miles de productos <br> en oferta
                        .paragraf.mb-5
                            .h3.cl--gray Estas son algunas páginas recomendadas
            .full-container
                .w-75.mx-auto.py-5
                    ul.slider_recommend
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('images/recomend/logo_amazon.png')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('images/recomend/logo_bestbuy.png')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('images/recomend/logo_ebay.png')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('images/recomend/logo_target.png')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('images/recomend/logo_walmart.png')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('images/recomend/logo_amazon.png')")

        //Que Dicen
        section
            .container.py-5
                .row
                    .w-50.mx-auto.txt_center
                        .title.mb-5
                            .txt_two.txt_size--em4.cl--darkgray Esto dicen sobre Condor Box
                        .icon.icon_quote.mb-5
                        .subtitle.subtitle_line
                            h3 Nuestros usuarios
            .full_container
                //slider people
                .w-75.mx-auto
                    ul.slider_quote_people
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50

            .container.py-5
                // title medios
                .row
                    .col.txt_center
                        .icon.icon_quote.mb-5
                        .subtitle.subtitle_line.cl--darkgray
                            h3 Medios de comunicación
                //slider medios
                .row
                    .col
                        ul.slider_quote_medios.py-5
                            .li
                                .row
                                    .w-50.mx-auto.txt_center
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray
                                            | “Comercio electrónico en Colombia ha crecido un 64% en los últimos tres años”
                                        .action.mb-5
                                            a.txt_bold(href="#") Leer artículo
                                        .icon.icon_medio.icon_medio--semana
                            .lis
                                .row
                                    .w-50.mx-auto.txt_center.txt_two
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray
                                            | “Comercio electrónico en Colombia ha crecido un 64% en los últimos tres años”
                                        .action.mb-5
                                            a.txt_bold(href="#") Leer articulo.
                                        .icon.icon_medio.icon_medio--semana
    include _footer.pug