extends ./base/layout.pug

block content
    include _header.pug
    .wrapper
        section.position-relative.slider_overflow
            ul.slider_intro
                li.slider_item.bgc_grad_vertical1
                    .row.align-items-sm-center
                        .col-12.col-md-6.txt_center.icon_bgi(data-aos="fade-up", data-aos-duration="3000")
                            .icon_smartphone(style="background-image: url('images/slider/item-001.png')")
                        .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left(data-aos="fade-down", data-aos-duration="3000")
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold Ahorrar es simple
                            .intro.mb-5
                                .txt_size--x3
                                    span.txt_bold Regístrate gratis
                                    | y disfruta del mejor <br> casillero virtual de Colombia.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.btn--shadow.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                                    li
                                        a.btn.btn_outline_white.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                li.slider_item.bgc_grad_vertical2
                    .row.align-items-sm-center(data-aos="fade-down")
                        .col-12.col-md-6.txt_center.icon_bgi
                            .icon_smartphone(style="background-image: url('images/slider/item-002.png')")
                        .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold Black Friday!
                            .intro.mb-5
                                .txt_size--x3
                                    | Abre tu casillero en noviembre, compra en la mejor época del <br>
                                    | año y
                                    strong  participa por una Gift Card de Amazon por $200 USD
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--violeta.btn--shadow.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Ver las mejores ofertas
                li.slider_item.bgc_grad_vertical3
                    .row.align-items-sm-center(data-aos="fade-down")
                        .col-12.col-md-6.txt_center.icon_bgi
                            .icon_smartphone(style="background-image: url('images/slider/item-001.png')")
                        .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold ¡Tarifa de locura!
                            .intro.mb-5
                                .txt_size--x3
                                    | Envía cualquier celular, tablet o portátil por <br> solo <b>$59 USD</b>, incluye impuestos y seguro.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--mora.btn--shadow.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Saber más
                li.slider_item.bgc_grad_vertical4
                    .row.align-items-sm-center(data-aos="fade-down")
                        .col-12.col-md-6.txt_center.icon_bgi
                            .icon_smartphone(style="background-image: url('images/slider/item-001.png')")
                        .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                            .title.mb-2
                                .txt_two.display-2.txt_semisemibold Casillero Corporativo
                            .intro.mb-5
                                .txt_size--x3
                                    | Creamos soluciones ajustadas a las necesidades <br> de las empresas y sus colaboradores.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--green.btn--shadow.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Contáctanos

            .box_slider_nav.d-none.d-sm-block(data-aos="fade-up", data-aos-duration="3000" )
                ul.slider-nav.list--inline
                    li.item
                    li.item
                    li.item
                    li.item

            .box_social--fixed.d-none.d-sm-block
                ul.text-center
                    li.nav-item
                        a.mx-auto(href='https://www.facebook.com/CondorBox ', target="_blank")
                            span.icon.icon-social.icon_facebook
                    //li.nav-item.my-2
                        a.mx-auto(href='twitter', target="_blank")
                            span.icon.icon-social.icon_twitter
                    li.nav-item
                        a.mx-auto(href='https://www.instagram.com/condorboxusa/', target="_blank")
                            span.icon.icon-social.icon_instagram
        //Condor Box
        section.py-5
            .container
                .row
                    .col-8.mx-auto.txt_center.mg_top--x100
                        .title.mb-5(data-aos="fade-up", data-aos-duration="3000")
                            span.icon.icon_condor_box
                        .subtitle.mb-5(data-aos="fade-up", data-aos-duration="3000")
                            h3 ¡Sencillo, seguro, rápido y muy económico!
                        .paragraf.mb-4(data-aos="fade-up", data-aos-duration="2000")
                            p.txt_size--em2.cl--gray Comprar lo que siempre soñaste jamás fue tan fácil. En Condor Box te brindamos una experiencia personalizada para que disfrutes de las ofertas extraordinarias del comercio electrónico de Estados Unidos. Si no tienes tarjetas de crédito, nosotros compramos por ti.
        section.pd_top--x100
            .container
                .row.d-flex.align-items-center
                    .col-12.col-md-6.order-last.order-sm-first.mg_top--x100mov.txt_center(data-aos="fade-up", data-aos-duration="3000")
                        ul.slider_about.px-5
                            li
                                img.img-fluid.mx-auto(src="images/about/item-001.png")
                            li
                                img.img-fluid.mx-auto(src="images/about/item-002.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-004.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-005.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-006.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-007.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-008.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-009.png")

                            li
                                img.img-fluid.mx-auto(src="images/about/item-010.png")

                    .col-12.col-md-6.order-first.order-sm-last.mt-5(data-aos="fade-left", data-aos-duration="3000")
                        .title.title_line.title_line--gains.mb-4(data-aos="fade-left", data-aos-duration="3000")
                            .txt_two.txt_size--em4.txt_size--movil.cl--darkgray #ConsumoInteligente
                        .paragraf(data-aos="fade-left", data-aos-duration="3000")
                            h3 Ahorra hasta el 80% respecto al valor en Colombia de los productos que deseas.
        //Así de Fácil pasos
        section#how.pd_top--x100.pd_bottom--x100
            .container
                .row
                    .col.txt_center.py-5
                        .title.mg_bottom--x50(data-aos="fade-up", data-aos-duration="3000")
                            .txt_two.txt_size--em5.cl--darkgray Así de fácil
                .row
                    .col-12.col-sm-6.col-md-3.txt_center.mg_bottom--x50(data-aos="fade-left", data-aos-duration="3000")
                        .title.mb-5
                            span.icon.icon_txt01
                        .subtitle.mb-5
                            h2.txt_bold.txt_size--em2a.cl--blue
                                a(href="/registro.html") Regístrate
                        .paragraf
                            p.txt_bold gratis y obtén tu dirección y casillero en los EEUU.
                    .col-12.col-sm-6.col-md-3.txt_center.mg_bottom--x50(data-aos="fade-left", data-aos-duration="3000")
                        .title.mb-5
                            span.icon.icon_txt02
                        .subtitle.mb-5
                            h2.txt_bold.txt_size--em2a.cl--gray Compra
                        .paragraf
                            p.txt_bold en cualquier tienda online. Si no tienes tarjeta de crédito, nosotros compramos por ti.
                    .col-12.col-sm-6.col-md-3.txt_center.mg_bottom--x50(data-aos="fade-right", data-aos-duration="3000")
                        .title.mb-5
                            span.icon.icon_txt03
                        .subtitle.mb-5
                            h2.txt_bold.txt_size--em2a.cl--gray Envía
                        .paragraf
                            p.txt_bold tus compras a tu casillero. Cuando lleguen te avisaremos.
                    .col-12.col-sm-6.col-md-3.txt_center.mg_bottom--x50(data-aos="fade-right", data-aos-duration="3000")
                        .title.mb-5
                            span.icon.icon_txt04
                        .subtitle.mb-5
                            h2.txt_bold.txt_size--em2a.cl--gray Disfruta
                        .paragraf
                            p.txt_bold de tus compras generando la orden de envío a Colombia desde cualquier dispositivo a través de tu cuenta de casillero.

        //Hemos diseñado el mejor
        section.pd_top--x100.pd_bottom--x100
            .container
                .row
                    .col-12.col-md-8.mx-auto.txt_center.mb-5
                        .title.mb-4(data-aos="fade-up", data-aos-duration="3000")
                            .txt_two.txt_size--em5.cl--darkgray Hemos diseñado el mejor Casillero Virtual de Colombia
                .row
                    .col-12.col-md-4.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_key
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Gratis
                            .paragraf
                                p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                        button.btn_ghost
                    .col-12.col-md-4.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_unlimited
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Ilimitado
                            .paragraf
                                p Almacena lo que quieras por el tiempo que quieras. No cobramos bodegaje.
                        button.btn_ghost
                    .col-12.col-md-4.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_safe
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Seguro
                            .paragraf
                                p Software de última generación y procesos logísticos de calidad garantizan la seguridad de tus compras, siempre.
                        button.btn_ghost
                    .col-12.col-md-4.txt_center.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_fast
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Rápido
                            .paragraf
                                p Entregas en Bogotá de 4 a 5 días hábiles. Resto del país 5 a 7 días hábiles. Volamos todos los días de Miami a Bogotá.
                        button.btn_ghost
                    .col-12.col-md-4.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_easy
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Sencillo
                            .paragraf
                                p Prealerta, agrupa y envía tus compras almacenadas desde cualquier dispositivo iniciando sesión en Condorbox.com.
                        button.btn_ghost
                    .col-12.col-md-4.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_personalized
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Personalizado
                            .paragraf
                                p ¿Nunca has utilizado un casillero? Te enseñamos a comprar y encontrar las mejores ofertas para que siempre ahorres al máximo.
                        button.btn_ghost
                    .col-12.col-md-4.mx-auto.box_over(data-aos="fade-up", data-aos-duration="3000")
                        .box_locker.mx-auto.txt_center
                            span.icon.icon_economic
                        .box_locker--info.w-100.pd_box--x20.bdb--lighblue.bdb_box--x2.txt_center
                            .title.mb-2.pd_top--x30
                                h3 Económico
                            .paragraf
                                p La mejor tarifa del mercado. No cobramos volumen. Consolidación de mercancía gratis.
                        button.btn_ghost

        //Cotizador
        section#quote.py-5
            .container
                .row
                    .col.txt_center
                        .title.mb-4(data-aos="fade-left", data-aos-duration="3000")
                            .txt_semibold.txt_two.txt_size--em4.cl--gray Cotiza tu envío
                        .subtitle.mb-5(data-aos="fade-right", data-aos-duration="3000")
                            p.txt_size--em2a.cl--gray y comprueba porque somos el casillero más económico
                .row
                    //insert iframe
                    .col-12.col-lg-7.mx-auto.bgc--white.box_shadow.txt_center.pd_box--x50(data-aos="fade-up", data-aos-duration="3000")
                        .form-group.mb-5
                            .row
                                .col-12.col-md-5.mb-5.mb-md-0.text-center.align-middle
                                    span.d-block.pt-3 Peso en libras:
                                .col
                                    input#weight.form-control.weight(type='number')
                                    .error
                                .col-1
                                    span *
                        .form-group.mb-5
                            .row
                                .col-12.col-md-5.mb-5.mb-md-0.text-center.align-middle
                                    span.d-block.pt-3 Valor Declarado:
                                .col
                                    input#declared.form-control(type='number' placeholder='USD')
                                .col-1
                                    span *
                        .form-group.mb-5
                            .row
                                .col
                                    .realvalue
                                    .alerta.d-block
                            .row
                                .col
                                    .diligence
                                    .alerta.d-block
                            .row
                                .col-12.col-md-5
                                .col-12.col-md-5.text-left
                                    small * <b>El valor mínimo declarado es de $30 USD</b>. Si el valor declarado es inferior al valor comercial de los productos, el envío podría estar sujeto a un reajuste de impuesto por parte de la DIAN. Esto es poco frecuente pero debes tenerlo presente.
                                .col-1
                        .form-group
                            .row
                                .col.mb-5
                                    span Valor total:
                                .col-7.mb-5.text-left
                                    span.txt_size--em2.cl--darkgray#total $0
                                    spna.txt_size--em2.cl--lightgray USD
                            .row
                                .col-12.mb-5
                                    ul.list--inline
                                        li.mr-5.align-middle
                                            input#expanded.align-middle(type="checkbox")
                                            span.h5.txt_bold.cl--gray.ml-2.align-middle No tengo tarjeta de crédito
                                        li.ml-5
                                            button#calculate.btn.btn_site_grad--blue.btn--shadow.cl--white.btn-sm.btn_radio.btn_full--lg Calcular
                        .row
                            .col#checkboxdiv.my-5(style="display: none;")
                                p.txt_left
                                    a(href="/contact.html").cl--blue.txt_bold *Escríbenos
                                    | con la información del producto que quiere y haremos una cotización del costo comprando con nuestras tarjetas de crédito más el valor del envío que ves allí,
                                    span.cl--gray.txt_bold fácil, rápido y muy económico.

        //CalltoAction
        section.position-relative.bgi--triangle
            .container-fluid
                ul.list--inline.list_newcontact
                    li(data-aos="fade-right", data-aos-duration="3000")
                        .title.mb-4.cl--white
                            .txt_two.txt_size--em4.txt_size--movil ¿Ustedes son un <br> servicio de compras <br> como Amazon o Ebay?
                        .subtitle.mb-5.cl--white
                            p.txt_size--em2.cl--gray Es normal tener dudas. Responde aquí todas <br>las preguntas que tienes.
                        .action.mb-5
                            a.btn.btn_site--white.cl--red.btn-sm.btn_radio(href='/7/docs/faq.html')
                                i.fa
                                | Preguntas frecuentes
                    li(data-aos="fade-left", data-aos-duration="3000")
                        .title.mb-4.cl--white
                            .txt_two.txt_size--em4
                                | Escríbenos
                                br
                                span.txt_bold con confianza
                        .subtitle.mb-5.cl--white
                            p.txt_size--em2 Te enviaremos toda la información que solicites <br> y te brindaremos la mejor asesoria.
                        .action
                            a.btn.btn_site--white.cl--blue.btn-sm.btn_radio(href='/7/docs/contact.html')
                                i.fa
                                | Contáctanos
        //Descubre
        section.py-5
            .container
                .row
                    .col.txt_center.mg_bottom--x40(data-aos="fade-up", data-aos-duration="3000")
                        .title.mb-3
                            .txt_two.txt_size--em4.cl--darkgray Descubre miles de productos <br> en oferta
                        .paragraf.mb-5
                            .h3.cl--gray Estas son algunas páginas recomendadas
            .full-container
                .col-12.col-sm-10.mx-auto.py-5
                    ul.slider_recommend
                        li.slider_item
                            .row
                                .col(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_center.positon-relative
                                        .icon_referido(style="background-image: url('images/recomend/logo_amazon.png')")
                                        a.btn.btn_ghost(href="https://www.amazon.com", target="_blank")
                        li.slider_item
                            .row
                                .col(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_center.positon-relative
                                        .icon_referido(style="background-image: url('images/recomend/logo_bestbuy.png')")
                                        a.btn.btn_ghost(href="https://www.amazon.com", target="_blank")
                        li.slider_item
                            .row
                                .col(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_center.positon-relative
                                        .icon_referido(style="background-image: url('images/recomend/logo_ebay.png')")
                                        a.btn.btn_ghost(href="https://www.amazon.com", target="_blank")
                        li.slider_item
                            .row
                                .col(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_center.positon-relative
                                        .icon_referido(style="background-image: url('images/recomend/logo_target.png')")
                                        a.btn.btn_ghost(href="https://www.amazon.com", target="_blank")
                        li.slider_item
                            .row
                                .col(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_center.positon-relative
                                        .icon_referido(style="background-image: url('images/recomend/logo_walmart.png')")
                                        a.btn.btn_ghost(href="https://www.amazon.com", target="_blank")
                        li.slider_item
                            .row
                                .col(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_center.positon-relative
                                        .icon_referido(style="background-image: url('images/recomend/logo_amazon.png')")
                                        a.btn.btn_ghost(href="https://www.amazon.com", target="_blank")

        //Que Dicen
        section
            .container.py-5
                .row
                    .col-12.col-sm-6.mx-auto.txt_center(data-aos="fade-up", data-aos-duration="3000")
                        .title.mb-5
                            .txt_two.txt_size--em4.cl--darkgray Esto dicen sobre Condor Box
                        .icon.icon_quote.mb-5
                        .subtitle.subtitle_line
                            h3 Nuestros usuarios
            .full_container
                //slider people
                .col-12.col-sm-10.mx-auto
                    ul.slider_quote_people
                        .li
                            .col(data-aos="zoom-in-up", data-aos-duration="3000" )
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_people--01.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Beto Pérez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--100
                        .li
                            .col(data-aos="zoom-in-up", data-aos-duration="3000" )
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_people--02.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Maria Cecilia Díaz
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es la mejor empresa con la que importado mis productos todo ha sido perfecto. Excelente atención y rápida mis productos llegan a tiempo y en perfecto estado y lo mas importante excelente precio. 100% recomendado. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--100
                        .li
                            .col(data-aos="zoom-in-up", data-aos-duration="3000")
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_people--03.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Juanse Ramón
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ He sido cliente de otros couriers y la verdad hasta el momento he hecho 2 pedidos con condorbox y puedo decir que la relación precio - tiempos de entrega ha sido la mejor. Muy satisfecho y por el momento cliente fiel. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--100
                        .li
                            .col(data-aos="zoom-in-up" , data-aos-duration="3000")
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--80
                        .li
                            .col(data-aos="zoom-in-up", data-aos-duration="3000")
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Ofrecen un buen servicio a un precio razonable y el tiempo de entrega fue bueno, sin embargo, uno de mis productos llego con un daño y el seguro solo cubre perdida total del producto, no daños parciales. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50

            .container.py-5
                // title medios
                .row
                    .col.txt_center(data-aos="fade-up", data-aos-duration="3000")
                        .icon.icon_quote.mb-5
                        .subtitle.subtitle_line.cl--darkgray
                            h3 Medios de comunicación
                //slider medios
                .row
                    .col
                        ul.slider_quote_medios.py-5
                            .li
                                .row
                                    .w-50.mx-auto.txt_center
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            | “Siga estos consejos y deje el miedo a comprar por internet”
                                        .action.mb-5(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            a.txt_bold(href="https://revistadiners.com.co/boutique/60340_siga-estos-consejos-y-deje-el-miedo-a-comprar-por-internet/", target="_blank") Leer artículo
                                        //.icon.icon_medio.icon_medio--semana
                            .li
                                .row
                                    .w-50.mx-auto.txt_center.txt_two
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray(data-aos="fade-up", data-aos-anchor-placement="top-bottom")
                                            | “Condor Box, aliado del consumo inteligente”
                                        .action.mb-5(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            a.txt_bold(href="https://www.portafolio.co/negocios/empresas/condor-box-aliado-del-consumo-inteligente-511333", target="_blank") Leer articulo.
                                        //.icon.icon_medio.icon_medio--semana

                            .li
                                .row
                                    .w-50.mx-auto.txt_center.txt_two
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            | “Condor Box, el casillero virtual que le hará la vida más fácil”
                                        .action.mb-5
                                            a.txt_bold(href="https://www.bluradio.com/lanube/condor-box-el-casillero-virtual-que-le-hara-la-vida-mas-facil-157318", target="_blank") Leer articulo.
                                        //.icon.icon_medio.icon_medio--semana

                            .li
                                .row
                                    .w-50.mx-auto.txt_center.txt_two
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            | "Casilleros virtuales para sus compras de Navidad”
                                        .action.mb-5(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            a.txt_bold(href="https://www.elnuevosiglo.com.co/articulos/11-2017-casilleros-virtuales-para-sus-compras-de-navidad", target="_blank") Leer articulo.
                                        //.icon.icon_medio.icon_medio--semana


                            .li
                                .row
                                    .w-50.mx-auto.txt_center.txt_two
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            | “Video: Condor Box, casillero virtual”
                                        .action.mb-5(data-aos="fade-up", data-aos-anchor-placement="top-bottom", data-aos-duration="3000" )
                                            a.txt_bold(href="https://www.elnuevosiglo.com.co/articulos/11-2017-casilleros-virtuales-para-sus-compras-de-navidad", target="_blank") Ver Video.
                                        //.icon.icon_medio.icon_medio--semana


    include _footer.pug