extends ./base/layout.pug

block content
    include _header.pug
    .overlay.overlay_contentpush
        button.overlay_close.btn_menu
            span.icon_menu--svg.cl--white
                svg#icon-close(viewbox='0 0 24 24' width='100%' height='100%')
                    title close
                    path(d='M21 4.565L19.435 3 12 10.435 4.565 3 3 4.565 10.435 12 3 19.435 4.565 21 12 13.565 19.435 21 21 19.435 13.565 12z')

            span.cl--white Close
        .navbar_full
            ul.txt_upper
                li.
                    a(href="#") List Item 1
                li
                    a(href="#") List Item 2
    .wrapper
        section
            ul.slider_intro.pd_bottom--x100
                li.slider_item.bgc_grad_vertical
                    .row.align-items-center
                        .col.txt_center
                            | image
                        .col.cl--white
                            .title.mb-2
                                h2.display-2.txt_bold Ahorrar es simple
                            .intro.mb-5
                                p.h4 Regístrate gratis y disfruta del mejor casillero virtual de Colombia.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                                    li
                                        a.btn.btn_outline_white.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                li.slider_item
                    .row.align-items-center
                        .col.txt_center
                            | image 2
                        .col.cl--white
                            .title.txt_bold
                                h2.display-2 Ahorrar es simple
        //Condor Box
        section
            .container
                .row
                    .col.txt_center
                        .title
                            h2.display-1.txt_bold Condor box
                        .subtitle
                            h5 ¡Sencillo, seguro, rápido y muy económico!
                        .paragraf
                            p Comprar lo que siempre soñaste jamás fue tan fácil. En Condor Box te brindamos una experiencia personalizada para que disfrutes de las ofertas extraordinarias del comercio electrónico de Estados Unidos. Si no tienes tarjetas de crédito, nosotros compramos por ti.
                .row
                    .col.txt_center
                        img(src="eco.png")
                    .col
                        .title.title_line
                            h3 #ConsumoInteligente
                        .paragraf
                            p Ahorra hasta el 80% respecto al valor en Colombia de los productos que deseas.
        //Así de Fácil pasos
        section
            .container
                .row
                    .col.txt_center
                        .title
                            h2 Así de fácil
                .row
                    .col.txt_center
                        .title
                            h2.display-2 1
                        .subtitle
                            h4 Register
                        .paragraf
                            p gratis y obtén tu dirección y casillero en los EEUU.
                    .col.txt_center
                        .title
                            h2.display-2 2
                        .subtitle
                            h4 Register
                        .paragraf
                            p en cualquier tienda online. Si no tienes tarjeta de crédito, nosotros compramos por ti.
                    .col.txt_center
                        .title
                            h2.display-2 3
                        .subtitle
                            h4 Register
                        .paragraf
                            p tus compras a tu casillero. Cuando lleguen te avisaremos.
                    .col.txt_center
                        .title
                            h2.display-2 4
                        .subtitle
                            h4 Register
                        .paragraf
                            p de tus compras generando la orden de envío a Colombia desde cualquier dispositivo a través de tu cuenta de casillero.

        //Hemos diseñado el mejor
        section
            .container
                .row
                    .col.txt_center
                        .title
                            h2.display-2 Hemos diseñado el mejor Casillero Virtual de Colombia
                .row
                    .col-12.col-md-4.txt_center
                        span.icon.icon_key
                        .title
                            h3 Gratis
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_unlimited
                        .title
                            h3 Ilimitado
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_safe
                        .title
                            h3 Seguro
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_fast
                        .title
                            h3 Rápido
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_easy
                        .title
                            h3 Sencillo
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_personalized
                        .title
                            h3 Personalizado
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.mx-auto.txt_center
                        span.icon.icon_economic
                        .title
                            h3 Económico
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.

        //Cotizador
        section
            .container
                .row
                    .col.txt_center
                        .title
                            h2 Cotiza tu envío
                        .subtitle
                            h3 y comprueba porque somos el casillero más económico
                .row
                    //insert iframe
                    .w-50.mx-auto.txt_center Iframe
        //CalltoAction
        section
            .container
                .row
                    .col
                        .title
                            h2 ¿Ustedes son un servicio de compras como Amazon o Ebay?
                        .subtitle
                            h4 Es normal tener dudas. Responde aquí todas las preguntas que tienes.
                        .action
                            a.btn.btn_site--white.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                i.fa
                                | Preguntas frecuentes
                    .col.txt_right
                        .title
                            h2 Escríbenos con confianza
                        .subtitle
                            h3 Te enviaremos toda la información que solicites y te brindaremos la mejor asesoria.
                        .action
                            a.btn.btn_site--white.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                i.fa
                                | Contáctanos

        //Descubre
        section
            .container
                .row
                    .col.txt_center
                        .title
                            h2 Descubre miles de productos en oferta
                        .paragraf
                            h3 Estas son algunas páginas recomendadas
            .container
                ul.slider_recommend
                    li.slider_item
                        .row
                            .col.txt_center
                                img(src="https://place-hold.it/150")
                    li.slider_item
                        .row
                            .col.txt_center
                                img(src="https://place-hold.it/150")
                    li.slider_item
                        .row
                            .col.txt_center
                                img(src="https://place-hold.it/150")
                    li.slider_item
                        .row
                            .col.txt_center
                                img(src="https://place-hold.it/150")
                    li.slider_item
                        .row
                            .col.txt_center
                                img(src="https://place-hold.it/150")
                    li.slider_item
                        .row
                            .col.txt_center
                                img(src="https://place-hold.it/150")
        //Que Dicen
        section
            .container
                .row
                    .col.txt_center
                        .title
                            h2 Esto dicen sobre Condor Box
                        .icon.icon_quote
                        .subtitle.subtitle_line
                            h3 Nuestros usuarios
                //slider people
                .row
                    .col
                        ul.slider_quote_people
                            .li
                                .row
                                    .col.bgc--white
                                        .icon.icon_people
                                        .title
                                            h3 Beto Pérez
                                        .quote.quote_peope
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .box_reviews
                                            ul.list_reviews
                                                li
                                                    span.icon.icon_start
                                                li
                                                    span.icon.icon_start
                            .li
                                .row
                                    .col.bgc--white
                                        .icon.icon_people
                                        .title
                                            h3 Lina t
                                        .quote.quote_peope
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .box_reviews
                                            ul.list_reviews
                                                li
                                                    span.icon.icon_start
                                                li
                                                    span.icon.icon_start
                            .li
                                .row
                                    .col.bgc--white
                                        .icon.icon_people
                                        .title
                                            h3 Lina t
                                        .quote.quote_peope
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .box_reviews
                                            ul.list_reviews
                                                li
                                                    span.icon.icon_start
                                                li
                                                    span.icon.icon_start
                            .li
                                .row
                                    .col.bgc--white
                                        .icon.icon_people
                                        .title
                                            h3 Lina t
                                        .quote.quote_peope
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .box_reviews
                                            ul.list_reviews
                                                li
                                                    span.icon.icon_start
                                                li
                                                    span.icon.icon_start
                            .li
                                .row
                                    .col.bgc--white
                                        .icon.icon_people
                                        .title
                                            h3 Lina t
                                        .quote_peope
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .box_reviews
                                            .star-rating
                                                span(style='width: 25%')



                .row
                    .col.txt_center
                        .icon.icon_quote
                        .subtitle.subtitle_line
                            h3 Medios de comunicación
                //slider medios
                .row
                    .col
                        ul.slider_quote_medios
                            .li
                                .row
                                    .w-50.mx-auto.bgc--white.txt_center
                                        .quote.quote_medios
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .action
                                            a(href="#") Leer Articulo
                                        .icon.icon_medio
                            .li
                                .row
                                    .w-50.mx-auto.bgc--white.txt_center
                                        .quote.quote_medios
                                            | “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                        .action
                                            a(href="#") Leer Articulo
                                        .icon.icon_medio
    include _footer.pug