extends ./base/layout.pug

block content
    include _header.pug
    .overlay.overlay_contentpush
        button.overlay_close.btn_menu
            span.icon_menu--svg.cl--white
                svg#icon-close(viewbox='0 0 24 24' width='100%' height='100%')
                    title close
                    path(d='M21 4.565L19.435 3 12 10.435 4.565 3 3 4.565 10.435 12 3 19.435 4.565 21 12 13.565 19.435 21 21 19.435 13.565 12z')

            span.cl--white Close
        .navbar_full
            ul.txt_upper
                li.
                    a(href="#") List Item 1
                li
                    a(href="#") List Item 2
    .wrapper
        section
            ul.slider_intro
                li.slider_item.bgc_grad_vertical.pd_top--x50
                    .row.align-items-center
                        .col.txt_center
                            .icon_smartphone(style="background-image: url('https://place-hold.it/442')")
                        .col.cl--white
                            .title.mb-2
                                h2.display-2.txt_bold Ahorrar es simple
                            .intro.mb-5
                                p.h4 Regístrate gratis y disfruta del mejor casillero virtual de Colombia.
                            .action.mb-2
                                ul.list--inline.list_two_item
                                    li
                                        a.btn.btn_site--white.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                                    li
                                        a.btn.btn_outline_white.btn-sm.btn_radio.btn_full--lg(href='#')
                                            i.fa
                                            | Obtén tu casillero gratis
                li.slider_item.bgc_grad_vertical.pd_top--x50
                    .row.align-items-center
                        .col.txt_center
                            .icon_smartphone(style="background-image: url('https://place-hold.it/442')")
                        .col.cl--white
                            .title.txt_bold
                                h2.display-2 Ahorrar es simple
        //Condor Box
        section.py-5
            .container
                .row
                    .col-8.mx-auto.txt_center.mg_top--x100
                        .title.mb-4
                            h2.txt_size--em6.txt_bold Condor box
                        .subtitle.mb-4
                            h3 ¡Sencillo, seguro, rápido y muy económico!
                        .paragraf.mb-4
                            p.txt_size--em2.cl--gray Comprar lo que siempre soñaste jamás fue tan fácil. En Condor Box te brindamos una experiencia personalizada para que disfrutes de las ofertas extraordinarias del comercio electrónico de Estados Unidos. Si no tienes tarjetas de crédito, nosotros compramos por ti.
        section.py-5
            .container
                .row.d-flex.align-items-center
                    .col.txt_center
                        img(src="https://place-hold.it/442")
                    .col
                        .title.title_line.title_line--gains.mb-4
                            .txt_two.txt_size--em4.cl--darkgray #ConsumoInteligente
                        .paragraf
                            p.txt_bold Ahorra hasta el 80% respecto al valor en Colombia de los productos que deseas.
        //Así de Fácil pasos
        section
            .container
                .row
                    .col.txt_center.py-5
                        .title.mb-4
                            .txt_two.txt_size--em5.cl--darkgray Así de fácil
                .row
                    .col.txt_center
                        .title.mb-4
                            h2.display-2 01
                        .subtitle.mb-2
                            h4.txt_size--em3.cl--gray Regístrate
                        .paragraf
                            p.txt_bold gratis y obtén tu dirección y casillero en los EEUU.
                    .col.txt_center
                        .title.mb-4
                            h2.display-2 02
                        .subtitle.mb-2
                            h4.txt_size--em3.cl--gray Compra
                        .paragraf
                            p.txt_bold en cualquier tienda online. Si no tienes tarjeta de crédito, nosotros compramos por ti.
                    .col.txt_center
                        .title.mb-4
                            h2.display-2 03
                        .subtitle.mb-2
                            h4.txt_size--em3.cl--gray Envía
                        .paragraf
                            p.txt_bold tus compras a tu casillero. Cuando lleguen te avisaremos.
                    .col.txt_center
                        .title.mb-4
                            h2.display-2 04
                        .subtitle.mb-2
                            h4.txt_size--em3.cl--gray Disfruta
                        .paragraf
                            p.txt_bold de tus compras generando la orden de envío a Colombia desde cualquier dispositivo a través de tu cuenta de casillero.

        //Hemos diseñado el mejor
        section.py-5
            .container
                .row
                    .col-12.col-md-8.mx-auto.txt_center.mb-5
                        .title.mb-4
                            .txt_two.txt_size--em5.cl--darkgray Hemos diseñado el mejor Casillero Virtual de Colombia
                .row
                    .col-12.col-md-4.txt_center
                        span.icon.icon_key
                        .title
                            h3 Gratis
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_unlimited
                        .title
                            h3 Ilimitado
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_safe
                        .title
                            h3 Seguro
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_fast
                        .title
                            h3 Rápido
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_easy
                        .title
                            h3 Sencillo
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.txt_center
                        span.icon.icon_personalized
                        .title
                            h3 Personalizado
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.
                    .col-12.col-md-4.mx-auto.txt_center
                        span.icon.icon_economic
                        .title
                            h3 Económico
                        .paragraf
                            p Regístrate y tendrás tu propio espacio de almacenamiento en los Estados Unidos gratis y para siempre.

        //Cotizador
        section.py-5
            .container
                .row
                    .col.txt_center
                        .title.mb-4
                            .txt_semibold.txt_two.txt_size--em4.cl--gray Cotiza tu envío
                        .subtitle.mb-5
                            p.txt_size--em2a.cl--gray y comprueba porque somos el casillero más económico
                .row
                    //insert iframe
                    .w-50.mx-auto.bgc--white.box_shadow.txt_center.pd_box--x20
                        | Iframe
        //CalltoAction
        section
            .container
                .row
                    .col-5.align-self-start
                        .title.mb-4
                            .txt_two.txt_size--em4.cl--gray ¿Ustedes son un <br> servicio de compras <br> como Amazon o Ebay?
                        .subtitle.mb-5
                            p.txt_size--em2a.cl--gray Es normal tener dudas. Responde aquí todas las preguntas que tienes.
                        .action.mb-5
                            a.btn.btn_site--white.cl--red.btn-sm.btn_radio.btn_full--lg(href='#')
                                i.fa
                                | Preguntas frecuentes
                    .col-2
                    .col-5.align-self-end.txt_right.pd_top--x100
                        .title.mb-4
                            .txt_two.txt_size--em4.cl--gray
                                | Escríbenos
                                br
                                span.txt_bold con confianza
                        .subtitle.mb-5
                            p.txt_size--em2a.cl--gray Te enviaremos toda la información que solicites y te brindaremos la mejor asesoria.
                        .action
                            a.btn.btn_site--white.cl--blue.btn-sm.btn_radio.btn_full--lg(href='#')
                                i.fa
                                | Contáctanos

        //Descubre
        section.py-5
            .container
                .row
                    .col.txt_center.mg_bottom--x40
                        .title.mb-3
                            .txt_two.txt_size--em4.cl--darkgray Descubre miles de productos <br> en oferta
                        .paragraf.mb-5
                            .h3.cl--gray Estas son algunas páginas recomendadas
            .full-container
                .w-75.mx-auto.py-5
                    ul.slider_recommend
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('https://place-hold.it/180')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('https://place-hold.it/180')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('https://place-hold.it/180')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('https://place-hold.it/180')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('https://place-hold.it/180')")
                        li.slider_item
                            .row
                                .col
                                    .txt_center
                                        .icon_referido(style="background-image: url('https://place-hold.it/180')")

        //Que Dicen
        section
            .container.py-5
                .row
                    .w-50.mx-auto.txt_center
                        .title.mb-5
                            .txt_two.txt_size--em4.cl--darkgray Esto dicen sobre Condor Box
                        .icon.icon_quote.mb-5
                        .subtitle.subtitle_line
                            h3 Nuestros usuarios
            .full_container
                //slider people
                .w-75.mx-auto
                    ul.slider_quote_people
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50
                        .li
                            .col
                                .txt_center
                                    .icon_people(style="background-image: url('images/people/img_andrea.jpg')")
                                .bgc--white.txt_center.pd_box--x20
                                    .title.cl--darkgray.pd_top--x30.mb-3
                                        h3 Andrea Gomez
                                    .quote.quote_peope.txt_two.mb-5
                                        p “ Es una excelente opción, el precio es bastante favorable, no cobran por re empacar varios pedidos, son muy ágiles en el despacho y la opción de pagar por transferencia bancaria Bancolombia es un excelente opción para hacer todo mas fácil. ”
                                    .box_reviews
                                        .star-rating
                                            span.rating_size--50

            .container.py-5
                // title medios
                .row
                    .col.txt_center
                        .icon.icon_quote.mb-5
                        .subtitle.subtitle_line.cl--darkgray
                            h3 Medios de comunicación
                //slider medios
                .row
                    .col
                        ul.slider_quote_medios.py-5
                            .li
                                .row
                                    .w-50.mx-auto.txt_center
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray
                                            | “Comercio electrónico en Colombia ha crecido un 64% en los últimos tres años”
                                        .action.mb-5
                                            a.txt_bold(href="#") Leer artículo
                                        .icon.icon_medio.icon_medio--semana
                            .lis
                                .row
                                    .w-50.mx-auto.txt_center.txt_two
                                        .quote.quote_medios.txt_two.txt_size--em2a.cl--darkgray
                                            | “Comercio electrónico en Colombia ha crecido un 64% en los últimos tres años”
                                        .action.mb-5
                                            a.txt_bold(href="#") Leer articulo
                                        .icon.icon_medio.icon_medio--semana
    include _footer.pug