// box
.box
    &_vector--height
        height: 112vh
    &_pd--v1
        padding-top: 10px
        padding-bottom: 10px
        +MQ(S)
            padding-top: 25px
            padding-bottom: 25px
        +MQ(M)
            padding-top: 300px
            padding-bottom: 225px
    &_pd--v2
        padding-top: 10px
        padding-bottom: 10px
        +MQ(S)
            padding-top: 25px
            padding-bottom: 25px
        +MQ(M)
            padding-top: 350px
            padding-bottom: 225px
    &_bg--svg
        overflow: hidden
        position: absolute
        bottom: 0
        top: 0

        &.izq
            left: 0
            width: 115%
            +MQ(S)
                width: 100%
            +MQ(M)
                width: 50%
        &.der
            right: 0
            width: 115%
            +MQ(S)
                width: 100%
            +MQ(M)
                width: 56%
        .triangle_blue_der,
        .triangle_red_izq
            width: 100%
            svg
                width: 100%
                height: 100%

    &_shadow
        box-shadow: 0px 10px 34px -5px rgba($black, .05)
    &_locker--info
        background-color: white
        transition: $trs-site
    &_social
        &--fixed
            left: 15px
            bottom: 25px
            top: inherit
            width: 25px
            position: absolute
    &_slider
        &_nav
            left: 15px
            bottom: 200px
            top: inherit
            width: 25px
            position: absolute
    &_form
        display: inline-block
        position: relative
        border-radius: 26px
        &_title
            display: inline-block
            position: relative
            border-top-left-radius: 26px
            border-top-right-radius: 26px
            padding: 1.8rem 1.8rem
            width: 100%
.float_img
    //z-index: 99
    &:after
        content: ""
        //display: inline-block
        position: absolute
        bottom: 0
        left: -343px
        background: transparent url("/../images/float_render.png")no-repeat center center/contain
        background: transparent url("./../images/float_render.png")no-repeat center center/contain
        width: 363px
        height: 153px
        z-index: 1
.form-horizontal
    z-index: 99
.deco
    &:after
        content: ""
        display: inline-block
        width: 100%
        background: transparent url('/../images/deco.png')no-repeat bottom center/106%
        background: transparent url('./../images/deco.png')no-repeat bottom center/106%
        height: 65px
        +MQ(S)
            height: 121px
        +MQ(M)
            height: 51px
        +MQ(L)
            height: 65px