.cl
    &--black
        color: $black
        fill: $black
        +heading
            color: $black
    &--green
        color: limegreen
        fill: limegreen
        +heading
            color: limegreen
    &--white
        color: $white
        fill: $white
        +heading
            color: $white
            fill: $white
    &--silver
        color: $silver
        +heading
            color: $silver
    &--blue
        color: $blueBox
        +heading
            color: $blueBox
    &--lightBlue
        color: $blueLightBox
        +heading
            color: $blueLightBox