@font-face
    font-family: 'Eurostyle'
    font-style: normal
    font-weight: normal
    src: local('Eurostile'), url('/fonts/eurostile.woff') format('woff')

@font-face
    font-family: 'EuroStyle Normal'
    font-style: normal
    font-weight: normal
    src: local('EuroStyle Normal'), url('/fonts/euro-style-normal') format('woff')

//
//[class^="icon-"], [class*=" icon-"]
//    font-family: 'icomoon' !important
//    speak: none
//    font-style: normal
//    font-weight: normal
//    font-variant: normal
//    text-transform: none
//    line-height: 1
//    -webkit-font-smoothing: antialiased
//    -moz-osx-font-smoothing: grayscale

.icon:before
    content: ""
    display: inline-block
    background-repeat: no-repeat
    -webkit-background-size: contain
    background-size: contain
    background-position: 0 0
    text-align: center
.icon
    &-social
        vertical-align: middle
        &:before
            width: 17px
            height: 17px
            vertical-align: middle
    &_facebook:before
        background-image: url('#{$gitPath}theme/icon_facebook.svg')

    &_instagram:before
        background-image: url('#{$gitPath}theme/icon_instagram.svg')

    &_twitter:before
        background-image: url('#{$gitPath}theme/icon_twitter.svg')
        margin-top: 5px
    &_quote:before
        background-image: url('#{$gitPath}theme/icon_quote.svg')
        width: 51px
        height: 52px
        vertical-align: middle


//
.icon_menu--svg
    display: inline-block
    height: 60px
    width: 60px
    padding: .25rem 1.75rem
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5))
//medios
.icon
    &_medio:before
        width: 120px
        height: 32px
        vertical-align: middle
.icon
    &_medio
        &--semana:before
            background-image: url('#{$gitPath}medio/logo_semana.png')
//People
.icon
    &_people
        width: 80px
        height: 80px
        border-radius: 50%
        display: inline-block
        background-repeat: no-repeat
        -webkit-background-size: cover
        background-size: cover
        background-position: 0 0
        text-align: center
        position: relative
        bottom: -45px
.icon
    &_referido
        width: 180px
        height: 90px
        display: inline-block
        background-repeat: no-repeat
        -webkit-background-size: cover
        background-size: cover
        background-position: center center
        vertical-align: middle

    &_smartphone
        width: 407px
        height: 520px
        display: inline-block
        background-repeat: no-repeat
        -webkit-background-size: cover
        background-size: cover
        background-position: center center
        vertical-align: middle